<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527179605106-gi4hvgpojb076h0790695428kffdh83j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527179605106-gi4hvgpojb076h0790695428kffdh83j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527179605106-kq4shsa6rmek9n3t5n1nq02uu1qbkt7l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXt3OGGsKLBAeSMJ9wpssJmEmcMtmDzvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>527179605106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monimo.myapp</string>
	<key>PROJECT_ID</key>
	<string>monimo-a949d</string>
	<key>STORAGE_BUCKET</key>
	<string>monimo-a949d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527179605106:ios:bda5e3619ba4f73faa4eeb</string>
</dict>
</plist>